@font-face {
    font-family: 'FontLink';
    src: url('../_font/commando.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #f0f8ff;
    font-family: 'FontLink';
}

/* ------ MAIN ------ */
main{
    width: 100%;
    height: 100vh;
    background-image: url('../_imagens/MHAmain.png');
}

.logo{
    padding: 150px;
    margin-left: 500px;
    display: flex;
    animation: float 3s ease-in-out infinite;
    justify-content: center;
}

@keyframes float {
    0%, 100%{
        transform: translateY(0);
    } 50%{
        transform: translateY(-40px);
    }
}
/* ------ FOOTER ------ */
footer{
    width: 100%;
    height: 25vh;
    background-color: #111111;
}

.autor-block{
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


a{
    color: #fffb00;
    font-family: 'FontLink';
}

a:hover{
    color: #adab14;
}