body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Impact', sans-serif;
    background-color: rgb(17, 17, 17);
}

h1{
    font-size: 200px;
    text-align: center;
    text-transform: uppercase;
    animation: text-background 20s linear infinite;
    color: transparent;
    background: url(image.jpg);
    -webkit-background-clip: text;
}

@keyframes text-background{
    from{
        background-position: 0 0;
    }

    to{
        background-position: 100% 100%;
    }
}