body{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    width: 500px;
    border-collapse: collapse;
}

caption{
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
    color: #f0f8ff;
    background-color: #111111;
}

thead{
    color: #f0f8ff;
    background-color: #111111;
}

th, td{
    padding: 10px;
    border: 1px solid #000000;
}

td.num{
    text-align: right;
}

tr.parse-tr{
    background-color: #bdbebe;
}