main section.middle{
    div.header{
        gap: 1rem;
        display: flex;
        align-items: center;

        input#calendar{
            padding: 0.5rem 2rem;
            color: var(--color-gray-dark);
            background: var(--color-white);
            border-radius: var(--border-radius-2);
        }
    }

    div.cards{
        gap: 1.5rem;
        margin-top: 1rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        div.card{
            height: 16rem;
            min-width: 22rem;
            color: #ffffff;
            transition: $tran-pattern-300;
            padding: var(--card-padding);
            box-shadow: 0 2rem 3rem var(--color-danger-light);
            border-radius: var(--card-border-radius);
            background: linear-gradient(#ff796f, #bd261b);
            @include display_Pattern_Sec(column, space-between);

            &:nth-child(2){
                box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2);
                background: linear-gradient(#7f8191, #27282f);
            }
            &:nth-child(3){
                box-shadow: 0 2rem 3rem var(--color-primary-light);
                background: linear-gradient(#5d78ff, #5719c2);
            }
            &:hover{
                box-shadow: none;
                transition: $tran-pattern-300;
            }

            div.top{
                @include displayFlex_Pattern(center, space-between);

                div.left{
                    gap: 0.5rem;
                    display: flex;

                    h2{
                        font-weight: 200;
                        font-size: 1.4rem;
                    }

                    img{
                        width: 2.3rem;
                        height: 2.3rem;
                        padding: 0.4rem;
                        border: 1px solid #ffffff;
                        border-radius: var(--border-radius-2);
                    }
                }

                img.right{
                    width: 3.5rem;
                }
            }

            div.middle{
                display: flex;
                justify-content: space-between;

                img.chip{
                    width: 3.5rem;
                }
            }

            div.bottom{
                @include displayFlex_Pattern(flex-end, space-between);

                div.right{
                    gap: 2rem;
                    display: flex;
                }
            }
        }
    }
    /*========================= END OF CARDS =========================*/

    div.montly-report{
        gap: 1rem;
        margin-top: 2rem;
        justify-content: space-between;
        @include displayGrid_Pattern(repeat(4, 1fr));
    }
    /*========================= END OF MOSTLY-REPORT =========================*/

    div.fast-payment{
        gap: 2rem;
        margin-top: 2rem;
        display: flex;
        align-items: center;

        div.badges{
            gap: 1rem;
            display: flex;
            max-width: 100%;
            flex-wrap: wrap;
            align-self: center;

            div.badge{
                gap: 1rem;
                display: flex;
                align-items: center;
                transition: $tran-pattern-300;
                background: var(--color-white);
                padding: 0.6rem var(--card-padding);
                border-radius: var(--border-radius-2);

                span{
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                }

                div{
                    gap: 2rem;
                    display: flex;
                    align-self: center;
                }

                &:hover{
                    cursor: pointer;
                    box-shadow: 0 0 1.5rem var(--color-primary-light);
                }

                &:nth-child(1) span{
                    display: flex;
                    align-self: center;
                    justify-content: center;
                    height: fit-content;
                    font-size: 1.5rem;
                }
            }
        }
    }
    /*========================= END OF FAST-PAYMENT =========================*/

    canvas#chart{
        max-width: 100%;
        margin-top: 2rem;
        padding: var(--card-padding);
        background: var(--color-white);
        border-radius: var(--card-border-radius);
    }
}