/*ROOT [VARIABLS]*/ 
@import 'variables.scss', 'middle.scss';

*{
    margin: 0;
    border: 0;
    outline: 0;
    padding: 0;
    appearance: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{font-size: 12px;}

body{
    min-height: 100vh;
    font-family: poppins, sans-serif;
    color: var(--color-dark);
    background-color: var(--color-light);
}

img{width: 100%;}

h1{font-size: 2.2rem;}
h2{font-size: 1.5rem;}
h3{font-size: 1.2rem;}
h4{font-size: 1.0rem;}
h5{font-size: 0.86rem;font-weight: 500;}
h6{font-size: 7.6rem;}

p{
    font-size: 0.86rem;
    color: var(--color-gray-dark);
}

small{
    font-weight: 300;
    font-size: 0.77rem;
}

.text-muted{color: var(--color-gray-light);}

.primary{color: var(--color-primary);}
.success{color: var(--color-success);}
.danger{color: var(--color-danger);}
.purple{color: var(--color-purple);}

.bg-primary{
    background: var(--color-primary);
    box-shadow: 0 0.8rem 0.8rem var(--color-primary-light);
}

.bg-success{
    background: var(--color-success);
    box-shadow: 0 0.8rem 0.8rem var(--color-success-light);
}

.bg-danger{
    background: var(--color-danger);
    box-shadow: 0 0.8rem 0.8rem var(--color-danger-light);
}

.bg-purple{
    background: var(--color-purple);
    box-shadow: 0 0.8rem 0.8rem var(--color-purple-light);
}

.bg-dark{
    background: #27282f;
    box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
}
/*========================= NAV BAR =========================*/
nav{
    width: 100%;
    padding: 1rem 0;
    background-color: var(--color-white);
    div.container{
        width: 96%;
        margin: 0 auto;
        position: relative;
        @include displayFlex_Pattern(center, space-between);
    }
    img.logo{
        width: 7rem;
    }

    div.search-bar{
        gap: 1rem;
        left: 15%;
        width: 32vw;
        display: flex;
        position: absolute;
        align-items: center;
        color: var(--color-gray-light);
        background-color: var(--color-light);
        border-radius: var(--border-radius-2);
        padding: var(--padding-2) var(--card-padding);

        input[type = "search"]{
            width: 100%;
            background: transparent;
            color: var(--color-dark);
            &::placeholder{
                color: var(--color-gray-dark);
            }
        }
    }

    div.profile-area{
        gap: 4rem;
        @include displayFlex_Pattern(center, space-between);

        div.theme-btn{
            width: 5rem;
            height: 2rem;
            display: flex;
            cursor: pointer;
            background: var(--color-light);
            border-radius: var(--border-radius-2);

            span{
                width: 50%;
                height: 100%;
                font-size: 1.3rem;
                @include displayFlex_Pattern(center, center);
            }
            .active{
                color: var(--color-white);
                background: var(--color-dark);
                border-radius: var(--border-radius-2);
            }
        }

        div.profile{
            gap: 1rem;
            display: flex;
            align-items: center;
            
            div.profile-photo{
            width: 3rem;
            height: 3rem;
            overflow: hidden;
            border-radius: 50%;
            }
        }

        button#menu-btn{
            display: none;
        }
    }
}

/*========================= ASIDE & SIDEBAR =========================*/
main{
    display: grid;
    gap: 2rem;
    width: 96%;
    margin: 1rem auto 4rem;
    grid-template-columns: 16rem auto 30rem;

    // Mostrado apenas em celulares e tablets.
    button#close-btn{
        display: none;
    }

    aside{
        height: 88vh;
        @include display_Pattern_Sec(column, space-between);

        div.sidebar{
            a{
                gap: 1.2rem;
                height: 4.2rem;
                display: flex;
                position: relative;
                align-items: center;
                color: var(--color-gray-light);
    
                span{
                    font-size: 1.7rem;
                    margin-left: 3rem;
                    transition: $tran-pattern-300;
                }
    
                &:hover{
                    color: var(--color-primary);
                }
    
                &:hover span{
                    margin-left: 2rem;
                }
    
                h4{font-weight: 500;}
            }
    
            a.active{
                color: var(--color-primary);
                background-color: var(--color-white);
                
                &::before{
                    content: "";
                    width: 6px;
                    height: 100%;
                    position: absolute;
                    background: var(--color-primary);
                }
            }
        }

        div.updates{
            text-align: center;
            padding: var(--card-padding);
            background: var(--color-white);
            border-radius: var(--border-radius-1);

            a{
                width: 100%;
                margin-top: 2rem;
                padding: 0.8rem 0;
                display: block;
                transition: $tran-pattern-300;
                color: var(--color-white);
                background: var(--color-primary); 
                border-radius: var(--border-radius-1);

                &:hover{
                    box-shadow: 0 1rem 2rem var(--color-primary-light);
                }
            }

            span{font-size: 2.8rem;}
            h4{margin: 1rem 0;}
        }
    }
} 