@charset "UTF-8";
@font-face {
	font-family: 'FontLogo';
	src: url("fonte/Pokemon Solid.ttf");
}

/* Título do estúdio */

body h1 {
	font-family: 'FontLogo', sans-serif;
	text-align: center;
	color: rgb(208, 245, 0);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
	padding-top: 3px;
}

body h2 {
    font-family: 'Franklin Gothic', sans-serif;
	color: rgb(208, 245, 0);
	padding: 40px;
	margin-left: 20px;
	text-align: center;
}

/* Modelo do site */

div#interface {
	padding: 50px;
	margin: -20px auto 0px auto;
	width: 600px;
	height: 750px;
	background-image: url('_imagenspk/bgpokemon.jpg');
}

div#layout{
	margin: -20px auto 0px auto;
	width: 300px;
	height: 400px;
	background-image: url('_imagenspk/pikachu_cartao.png');
	box-shadow: 0px 0px 10px rgb(241, 205, 2);
}

section#corpo {
	display: block;
}

footer p {
	color: aliceblue;
	font-size: 11pt;
	clear: both;
	border-top: 1px solid #000000;
    margin-top: 20px;
	padding: 10px;
    text-align: center;
}

a {
	color: orange;
}
a:hover {
	color: darkgoldenrod;
}

/* Dados Do Pokémon */

p#nome {
	background-color: rgba(255, 255, 255, 0.486);

	margin: -8px 12px 10px 12px;
	font-size: 15pt;
	font-family: Arial, sans-serif;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}

p#vida {
	color: rgb(0, 0, 0);
	margin: -40px 11px 10px 12px;
	font-size: 12pt;
	font-family: Fantasy, sans-serif;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 230px;
}

p#info {
	color: aliceblue;
	background-color: rgb(0, 0, 0);
	border-radius: 5px;
	margin: 220px 12px 10px 5px;
	font-size: 15pt;
	padding-top: 2px;
	padding-bottom: 4px;
	font-family: Arial, sans-serif;
}

p#dados {
	color: rgb(0, 0, 0);
	background-color: rgba(255, 255, 255, 0.486);
	border-radius: 5px;
	box-shadow: 0px 2px 10px rgb(0, 0, 0);
	margin: -7px 12px 10px 5px;
	font-size: 12pt;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Segoe UI, sans-serif;
	text-align: left;
}
